body {
	font-size: small;
	line-height: 140%;
}

table {
	font-size: small;
}

h1 {
}

h2 {
	padding: 4px;
	border-style: none none solid none;
	border-width: 2px;
	border-color: #666688;
}

address {
	font-style: normal;
	text-align: right;
	color: #888888;
}

div.left {
	float: left;
	width: 160px;
	padding: 4px;
	border: 1px solid #888888;
	background-color: #EEEEEE;
}

div.center {
	margin-left: 184px;
}

p {
	margin: 8px;
}

p.remark {
	margin: 8px 24px;
	padding: 8px;
	border: 1px dotted #666666;
	background-color: #FFFFF0;
}

p.ref {
	font-weight: bold;
}

pre {
	margin: 8px;
}

pre.console {
	padding: 8px;
	background-color: #FFEEEE;
}

pre.properties {
	color: #004400;
	padding: 8px;
}

ul.menu {
	list-style-type: circle;
	list-style-position: inside;
	margin: 0px;
	padding: 0px;
}

ul.submenu {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 0px 24px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table.grid {
	border-collapse: collapse;
	border-spacing: 0px;
}

table.grid th {
	border: 1px solid #444444;
	padding: 2px 4px;
	background-color: #FFEEEE;
}

table.grid td {
	border: 1px solid #444444;
	padding: 2px 4px;
}