body {
	font-size: small;
	line-height: 140%;
}

h1 {
}

h2 {
	padding: 4px;
	border-style: none none solid none;
	border-width: 2px;
	border-color: #666688;
}

address {
	font-style: normal;
	text-align: right;
	color: #888888;
}

div.left {
	float: left;
	width: 160px;
	padding: 4px;
	border: 1px solid #888888;
	background-color: #EEEEEE;
}

div.center {
	margin-left: 176px;
}

p {
	margin: 8px;
}

p.remark {
	margin: 8px 24px;
	padding: 8px;
	border: 1px dotted #666666;
	background-color: #FFFFF0;
}

pre {
	margin: 8px;
}

pre.properties {
	color: #004400;
	padding: 8px;
}

ul.menu {
	list-style-type: circle;
	list-style-position: inside;
	margin: 0px;
	padding: 0px;
}

ul.submenu {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 0px 24px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}